/*
#585A59
#D2160E
#B4B4B4
#f3f0f0
*/

body {
  background-color: #585a59;
}
.random-arcade {
  width: 850px;
  margin: 0 auto;
}
.blackbox {
  background-color: rgb(75, 72, 72);
  width: 850px;
  height: 850px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.charbox {
  width: 400px;
  height: 400px;
}

.smallblackbox {
  width: 50px;
  height: 50px;
  background: #000;

  display: inline-block;
}
.whitebox {
  width: 50px;
  height: 50px;
  background: #fff;

  display: inline-block;
}
.halfwhitebox {
  width: 25px;
  height: 50px;
  background: #fff;
}
